<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @feed.image.url ,style:'width:400px' if @feed.image.present? %>
</p>

<p>
  <strong>Content:</strong>
  <%= @feed.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @feed.user.name %>
</p>



<%= link_to 'Back', feeds_path %>
